.Sidebar{
    margin-top: 28px;
 
    li{
        margin: 0 0 5px 0;
    }
}

.sideBarLink{
    width: 69px;
    height: 69px;
    display: block;
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: center;
}

.sideBarLink--active{
    background-color: #2684FE;
    box-shadow: 0px 0px 15px rgba(6, 109, 188, 0.26);
    border-radius: 11px;
}

.dashboard{
    background-image: url('/svg_icons/sidemenu/Dashboard.svg');
}

.dashboard--active{
    background-image: url('/svg_icons/sidemenu/dashboard__active.svg');
}

.filament{
    background-image: url('/svg_icons/sidemenu/filament.svg');
}

.filament--active{
    background-image: url('/svg_icons/sidemenu/filament__active.svg');
}

.model{
    background-image: url('/svg_icons/sidemenu/models.svg');
    background-size: 43px;
}

.model--active{
    background-image: url('/svg_icons/sidemenu/models__active.svg');
}

.queue{
    background-image: url('/svg_icons/sidemenu/queues.svg');
}

.queue--active{
    background-image: url('/svg_icons/sidemenu/queues__active.svg');    
}

.printer{
    background-image: url('/svg_icons/sidemenu/printers.svg');
}

.printer--active{
    background-image: url('/svg_icons/sidemenu/printers__active.svg');
}

.task{
    background-image: url('/svg_icons/sidemenu/tasks.svg');
}

.task--active{
    background-image: url('/svg_icons/sidemenu/tasks__active.svg');
}

.result{
    background-image: url('/svg_icons/sidemenu/results.svg');
}

.result--active{
    background-image: url('/svg_icons/sidemenu/results__active.svg');
}
